* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}



.heading-project {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.8;
    margin: 0;
    color: #1f1c2e;
    position: relative;
    top: 50px;
    left: 50px;
}

.currency-converter-contain {
    position: relative;
    margin: 10rem auto;
    width: 100%;
    max-width: 500px;
    background-color: white;
    -webkit-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.56); 
box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.56);
    font-family: "Roboto", sans-serif;
    padding: 32px 48px 48px;
}

.heading-currency-converter {
    font-size: 1.5rem;
    margin: 20px 0px;
}

#base-unit {
    color: #70757a;
    font-size: 0.9rem;
}

#target-rate {
    font-size: 1.5rem;
    margin-top: 4px;
    color: #202124;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.input-box,
.select-box {
    flex-basis: 45%;
    max-width: 45%;
    height: 36px;
    margin: 5px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    font-size: 14px;
    color: black;
    line-height: 28px;
    text-align: left;
    
    
}

#error-message {
    color: red;
}